<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Alastor Moonblaze</title>
        <link rel="icon" href="../favicon.ico" />
        <style>
            .worldbuilding{
                display: none
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <menue>
                    <li><a href="../index.html"><img alt="Project Yggdrasil" src="../ProjectYggdrasil.png" width=200/></a></li>
                    <li><a href="../stories.html">Stories</a></li>
                    <li><a href="../writingprompts.html">Writing Prompts</a></li>
                    <li><a href="../characters.html">Characters</a></li>
                    <li><a href="../worldbuilding.html">World Building</a></li>
                    <ul class="worldbuilding">
                        <li><a href="../worldbuilding/magicsystems.html">Magic Systems</a></li>
                        <li><a href="../worldbuilding/races.html">Races</a></li>
                        <li><a href="../worldbuilding/countries.html">Countries</a></li>
                        <li><a href="../worldbuilding/wildlife.html">Wildlife</a></li>
                        <li><a href="../worldbuilding/flora.html">Flora</a></li>
                        <li><a href="../worldbuilding/worlds.html">Worlds</a></li>
                        <li><a href="../worldbuilding/organizations.html">Organizations</a></li>

                    </ul>
                    <li><a href="../writingadvice.html">Writing Advice</a></li>
                    <li><a href="../about.html">About</a></li>
                    <li>
                        <lable for="search" >Search:</lable>
                        <input type="search" name="varSearch" />
                    </li>
                    <li><a href="../settings.html">settings</a></li>
                    <li><a href="../login.html"> log-in/sign-up</a></li>
                </menue>
            </nav>
            
            <hr />
            <h1>Alastor Moonblaze</h1>
            <p>
                A fellow who is not just below avarage hight, around 5' 7'' (170 cm), he has Brown Hair and Brown eyes.
                Best we can tell "Alastor Moonblaze" was not his original name, though it is unlikely he remembers his original name, or more likely names, 
                because he is a Remgulus. He is labled a Side Character because he feels so strongly that he isn't anyone important, he is just some guy hanging out.
                <br />
                <br />
                He is someone who does his best to be a good person, and feels he often falls short.
            </p>
            <hr />
        </header>
        <main>
            <div class="type">
                <h2>Type/Roles:</h2>
                <ul>
                    <li>Side Character</li>
                    <li>Protagonist</li>
                </ul>
            </div>
            <hr />

            <div class="titles">
                <h2>Titles:</h2>
                <ul>
                    <li>The Moonlit Alchemist</li>

                </ul>
            </div>
            <div class="gender">
                <h2>Gender</h2>
                <ul>
                    <li>Male</li>
                </ul>
                <h3>Pronouns</h3>
                <ul>
                    <li>He/Him</li>

                </ul>
                <hr/>
            </div>
            
            <div class="Race">
                <h2>Race</h2>
                <ul>
                    <li><a href="../worldbuilding/templates/remgulus.html">Remgulus</a></li>
                </ul>
                <hr/>
            </div>
            <div class="Abilities">
                <h2>Abilities</h2>
                <ul>
                    <li><a href="../worldbuilding/templates/voidwalking.html">Void Walking</a></li>
                    <li>Alchemy</li>
                    <li>Limited Shape Shifting related to Racial appearance,(cannot change color of hair/eyes and only change Race, cannot shapeshift into plants or wildlife, but can become a dwarf, or an elf)</li>
                    <li>Tracking</li>
                </ul>
                
                <hr/>
            </div>
            <div class="allies">
                <h2>Allies:</h2>
                <ul>
                    <li>Spencer Zaugg</li>
                    <li><a href="../worldbuilding/templates/projectyggdrasil.html">Project Yggdrasil (organization)</a></li>
                </ul>
                <hr />

               

            </div>
            <div class="enemies">
                <h2>Enemies</h2>
                <ul>
                    <li><a href="thecurator.html">The Curator</a></li>
                </ul>
                <hr />

            </div>

            <div class="Author">
                <h2>Author</h2>
                <ul><li>Spencer Zaugg</il></ul>
                    
            </div>
        </main>
        <footer>
            <hr />
            <span class="text-restet">Author Name:</span>
            <td>Spencer Zaugg</td>
            <br />
            <a href="https://github.com/SpeedyZ500/startup.git"> GitHub</a>
        </footer>
    </body>
</html>