<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Curator</title>
        <link rel="icon" href="../favicon.ico" />
        <style>
            .worldbuilding{
                display: none
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <menue>
                    <li><a href="../index.html"><img alt="Project Yggdrasil" src="../ProjectYggdrasil.png" width=200/></a></li>
                    <li><a href="../stories.html">Stories</a></li>
                    <li><a href="../writingprompts.html">Writing Prompts</a></li>
                    <li><a href="../characters.html">Characters</a></li>
                    <li><a href="../worldbuilding.html">World Building</a></li>
                    <ul class="worldbuilding">
                        <li><a href="../worldbuilding/magicsystems.html">Magic Systems</a></li>
                        <li><a href="../worldbuilding/races.html">Races</a></li>
                        <li><a href="../worldbuilding/countries.html">Countries</a></li>
                        <li><a href="../worldbuilding/wildlife.html">Wildlife</a></li>
                        <li><a href="../worldbuilding/flora.html">Flora</a></li>
                        <li><a href="../worldbuilding/worlds.html">Worlds</a></li>
                        <li><a href="../worldbuilding/organizations.html">Organizations</a></li>

                    </ul>
                    <li><a href="../writingadvice.html">Writing Advice</a></li>
                    <li><a href="../about.html">About</a></li>
                    <li>
                        <lable for="search" >Search:</lable>
                        <input type="search" name="varSearch" />
                    </li>
                    <li><a href="../settings.html">settings</a></li>
                    <li><a href="../login.html"> log-in/sign-up</a></li>
                </menue>
            </nav>
            
            <hr />
            <h1>The Curator</h1>
            <p>
                A mysterious individual who claims to rule over Yggdrasil, the World Tree. Not much is known about them.
                <br />
                They don't like when poeple use any gendered pronouns to describe them, 
                also doesn't like when you refer to them as a singular entity, they much prefer ya'll to you.
                <br />
                They consider themselves a hero, and the protagonist of all stories, more acuratly however is that they are a 
                godlike entity, in that they have godlike power, but they are not omniscient, omnipresent, nor are they omnipotent.
                They are however very powerful, being able to manipulate classification of themself and other characters and creatures.
                They cannot read the contents of this specific entry, and yet they can manipulate the information contained within it.
                The less savory titles and what is likely a truer description of them is therefore not possible. 
                This page is not to be considered entirely accurate. 
                Some things that are accurate are hidden or altered, some words have been shifted and replaced with similar sounding words,
                which allows us to track information on them. Look for Patterns, expessialy for cases of the pattern being broken.
                <br />
                <br />
                They look like a living cloak, with only darkness beneath the hood. This Cloak has colorful embrodary, and Golden Stars.
                
            </p>
            <hr />
        </header>
        <main>
            <div class="type">
                <h2>Type/Roles:</h2>
                <li>Hero</li>
                <li>Protagonist</li>
            </div>
            <div class="titles">
                <h2>Titles:</h2>
                <ul>
                    <li>The Curator</li>
                    <li>The Story Teller</li>
                    <li></li>
                    <li>The Story Keeper</li>
                    <li>Hero of Dark Light</li>
                    <li>Eternal Watcher</li>
                    <li></li>
                    <li>Harbenger of Light</li>
                    <li>Arborist of Reality</li>
                    <li>Realm Lord</li>
                    <li>Void Tamer</li>
                    <li>Eternal Emporor of Yggdrasil</li>
                    <li>Slayer of Demons</li>
                    <li>The Stellar Story</li>
                    <li>Extermenator of Darkness</li>
                    <li>Returner</li>
                    <li></li>
                    <li>Observer</li>
                    <li>Freedom Bringer</li>
                    <li></li>
                    <li>Star Warrior</li>
                    <li>Originator</li>
                    <li>Unifier</li>
                    <li>Light Bringer</li>
                    <li>Sorcerer of Light</li>
                    <li></li>
                </ul>

            </div>
            <div class="gender">
                <h2>Gender</h2>
                <ul>
                    <li>Amalgimation????</li>

                </ul>
                <h3>Pronouns</h3>
                <ul>
                    <li>They/Them (multitude)</li>
                </ul>
                <hr/>
            </div>
            
            <div class="Race">
                <h2>Race</h2>
                <ul>
                    <li>Unknown</li>

                </ul>
                <hr/>
            </div>
            <div class="Abilities">
                <h2>Abilities</h2>
                <ul>
                    <li><a href="../worldbuilding/templates/voidwalking.html">Void Walking</a></li>
                    <li>Data Manipulation</li>
    
                </ul>
                
                <hr/>
            </div>
            <div class="allies">
                <h2>Allies:</h2>
                <ul>
                    <li>Everyone :)</li>

                </ul>

            </div>
            <div class="enemies">
                <h2>Enemies</h2>
                <ul>
                    <li>Spencer Zaugg</li>
                    <li><a href="alastormoonblaze.html">Alastor Moonblaze</a></li>
    
                </ul>
            </div>

            <div class="Author">
                <h2>Author</h2>
                <ul>
                    <li>Spencer Zaugg</li>
                </ul>
            </div>

            
            
        </main>
        <footer>
            <hr />
            <span class="text-restet">Author Name:</span>
            <td>Spencer Zaugg</td>
            <br />
            <a href="https://github.com/SpeedyZ500/startup.git"> GitHub</a>
        </footer>
    </body>
</html>