.internal-nav{
    width:50%;
    display: flex;
    flex-direction: column;
}
.internal-menu{
    display: flex;
    flex-direction: column !important;
}
.content-body{
    float:left;
}
.infocard{
    float:right;
    width: 22em;
    margin-left: 0.5em;
    text-align:center;

}
.with-subnav {
    padding-top: 4rem!important; 
}
.bio{
    justify-content: start;
    display: block ;
    margin-left: 50px;
    margin-right: 50px;
}
.card-sections {
    display: flex ;
    flex-direction: column;
    flex: 0 1 !important;

}

@media (prefers-color-scheme: dark){
    .table>:not(caption)>*>*{
        color: white;
        background-color: black;
    }
    th{
        color: white;
        background-color: black;
    }
}