<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Remgulus</title>
        <link rel="icon" href = "../../favicon.ico"/>
        <style>
            .worldbuilding{
                display: block
            }
        </style>
    </head>
    <body>
        
        <header>
            <nav>
                <menue>
                    
                    <li><a href = "../../index.html"><img alt = "Project Yggdrasil" src = "../../ProjectYggdrasil.png" width = 200/></a></li>
                    <li><a href = "../../stories.html">Stories</a></li>
                    <li><a href = "../../writingprompts.html">Writing Prompts</a></li>
                    <li><a href = "../../characters.html">Characters</a></li>
                    <li><a href = "../../worldbuilding.html">World Building</a></li>
                    <ul class="worldbuilding">
                        <li><a href = "../magicsystems.html">Magic Systems</a></li>
                        <li><a href = "../races.html">Races</a></li>
                        <li><a href = "../countries.html">Countries</a></li>
                        <li><a href = "../wildlife.html">Wildlife</a></li>
                        <li><a href = "../flora.html">Flora</a></li>
                        <li><a href = "../worlds.html">Worlds</a></li>
                        <li><a href = "../organizations.html">Organizations</a></li>

                    </ul>
                    <li><a href = "../../writingadvice.html">Writing Advice</a></li>
                    <li><a href = "../../about.html">About</a></li>
                    <li>
                        <lable for = "search" >Search:</lable>
                        <input type = "search" name = "varSearch" />
                    </li>
                    <li><a href = "../../settings.html">settings</a></li>
                    <li><a href = "../../login.html"> log-in/sign-up</a></li>
                    
                </menue>
            </nav>
            <hr />
            <h1>Remgulus</h1>
            <p>
                Rem-Gul-Us or Remgulus is a blend of several words similar to hangry (hungry angry).
                It is a shortend way of saying Remnant of Singularity Nexus, which occur when a reality/branch of the world tree collapses.
                Most are quickly consumed by The Void as their reality collapses. 
                They are the compression of many individuals who are similar enough that the reality considers them the same person.
                The criteria for this compression is as follows, all individuals are of the same gender, they live a similar enough life, 
                and they have the same overall personality. Most people during a reality collapse do not become a Remgulus, 
                instead dying as reality breaks down, or from the strain of all the souls of individuals they would fuse with being forced into one position.
                Not much is known about Remgulus outside of this information, though we do know that they only possess one soul, 
                whether it was one of the souls that existed before realmatic collapse a new soul formed from the blending of many souls it not entirely clear, and is nearly impossible to study.
                We also know  that their memory of their past, pre-collapse is foggy at best, they will remember their birthday, and their age, but not necessarily thier name(s).
                They also tend to remember information and skills, so Math, Science, Chemistry, Magic, ect. 
            </p>
            <hr />
        </header>
        <main>
            <div class = "Type">
                <h2>Type:</h2>
                <ul>
                    <li>Shape Shifter</li>
                </ul>
            </div>

            <div class = "abilities">
                <h2>Abilities:</h2>
                <dl>
                    <dt><a href="voidwalking.html">Void Walking</a></dt>
                    <dt>Shape Shifting</dt>
                    <dd>
                        Remgulus have the ability to shapeshift into various alternate versions of themeslves,
                        chainging their race and atributes to match the form of one of the other individuals they fused with during realmatic collapse.
                        Most are humanoid, but that is not a rule, Remgulus is a race that shares identity from the tramatic event of them becomeing a Remgulus.
                        They can often shapeshift into other races that look similar to them, however many are also able to shapeshift into the more beastial races,
                        that are still sentient and sapient.
                    </dd>
                </dl>
                <aside>
                   
                </aside>
            </div>

            <div class = "origin">
                <h2>Origin:</h2>
                <li><a href="thevoid.html">The Void</a></li>
            </div>
            <div class = "worlds">
                <h2>Worlds:</h2>
                <ul>
                    <li>Everywhere</li>
                </ul>
            </div>
            <div class = "characters">
                <h2>Members of this Race</h2>
                <ul>
                    <li><a href="../../templates/alastormoonblaze.html">Alastor Moonblaze</a></li>
                </ul>
            </div>
            <div class = "Author">
                <h2>Author</h2>
                <ul><li>Spencer Zaugg</il></ul>
            </div>
        </main>
        <footer>
            <hr />
            <span class="text-restet">Author Name:</span>
            <dt>Spencer Zaugg</dt>
            <br />
            <a href = "https://github.com/SpeedyZ500/startup.git"> GitHub</a>
        </footer>
    </body>
</html>