<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Void</title>
        <link rel="icon" href = "../../favicon.ico"/>
        <style>
            .worldbuilding{
                display: block
            }
        </style>
    </head>
    <body>
        
        <header>
            <nav>
                <menue>
                    <li><a href = "../../index.html"><img alt = "Project Yggdrasil" src = "../../ProjectYggdrasil.png" width = 200/></a></li>
                    <li><a href = "../../stories.html">Stories</a></li>
                    <li><a href = "../../writingprompts.html">Writing Prompts</a></li>
                    <li><a href = "../../characters.html">Characters</a></li>
                    <li><a href = "../../worldbuilding.html">World Building</a></li>
                    <ul class="worldbuilding">
                        <li><a href = "../magicsystems.html">Magic Systems</a></li>
                        <li><a href = "../races.html">Races</a></li>
                        <li><a href = "../countries.html">Countries</a></li>
                        <li><a href = "../wildlife.html">Wildlife</a></li>
                        <li><a href = "../flora.html">Flora</a></li>
                        <li><a href = "../worlds.html">Worlds</a></li>
                        <li><a href = "../organizations.html">Organizations</a></li>

                    </ul>
                    <li><a href = "../writingadvice.html">Writing Advice</a></li>
                    <li><a href = "../about.html">About</a></li>
                    <li>
                        <lable for = "search" >Search:</lable>
                        <input type = "search" name = "varSearch" />
                    </li>
                    <li><a href = "../settings.html">settings</a></li>
                    <li><a href = "../login.html"> log-in/sign-up</a></li>
                </menue>
            </nav>
            <hr />
            <h1>The Void</h1>
            <p>
                The World Between Worlds
            </p>
            <hr />
        </header>
        <main>
            <div class = "contenents">
                <h2>Contenents</h2>
                <li>Yiggdrasil</li>
                <aside>There is only one known contenent in the void, Yiggdrasil</aside>
            </div>
            <div class = "countries">
                <h2>Countries</h2>
                <div class="newCountry">
                    <button class="open-button" onClick="openForm()">New Country</button>
                    <div class="form-popup" id="newCountry">
                        <form class="form-container">
                            <h1>New Country</h1>
                            <lable for = "name">Name:</lable>
                            <input type="text" placheolder="name" name="name" required> 
                            <br />
                            <lable for = "world">World:</lable>
                            <input type="text" placheolder="world" name="world" required> 
                            <br />
                            <lable for = "leader">Leader(s):</lable>
                            <input type="text" placheolder="Leader(s)" name="leader"> 
                            <br />
                            <lable for = "descripton">Description:</lable>
                            <input type="text" placheolder="description" name="description" > 
                            <br />
                            <br />
                            <lable for="descripton">Description:</lable>
                            <textarea id="description" placheolder="Describe your Country" name="description" required> </textarea>
                            <br />
                            <lable for="history">History:</lable>
                            <textarea id="history" placheolder="History" name="history"> </textarea>
                            <br />
                            <lable for="culture">Culture:</lable>
                            <textarea id="culture" placheolder="What is your countries Culture" name="culture" > </textarea>
                            <br />
                            <lable for = "race">Race(s):</lable>
                            <input type="text" placheolder="race" name="race"> 
                            <br />
                            <lable for = "religion">Religion(s):</lable>
                            <input type="text" placheolder="religion" name="religion"> 
                            <br />
                            <lable for = "organization">Organization(s):</lable>
                            <input type="text" placheolder="Organization" name="organization"> 
                            <br />
                            <lable for = "flora">Flora:</lable>
                            <input type="text" placheolder="flora" name="flora"> 
                            <br />
                            <lable for = "wildlife">Wildlife:</lable>
                            <input type="text" placheolder="wildlife" name="wildlife">
                            <br /> 
                            <lable for = "biome">Biome(s):</lable>
                            <input type="text" placheolder="biome" name="biome">
                            <br /> 
                            <lable for = "allies">allies:</lable>
                            <input type="text" placheolder="Ally" name="allies"> 
                            <br />
                            <lable for = "enemies">Enemies:</lable>
                            <input type="text" placheolder="Enemy" name="enemies"> 
                            <br />
    
                            <button type="submit">Create</button> 
                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    
                        </form>
    
                    </div>
                </div>
                <hr />
                <ul>
                    <li><a href="yggdrasil.html">Yggdrasil</a></li>
                </ul>
            </div>
            <div class="wildlife">
                <h2>Wildlife</h2>
                <div class="newWildlife">
                    <button class="open-button" onClick="openForm()">New Creature</button>
                    <div class="form-popup" id="newWildlife">
                        <form class="form-container">
                            <h1>New Creature</h1>
                            <lable for = "name">Name:</lable>
                            <input type="text" placheolder="name" name="name" required> 
                            <br />
                            <lable for="type">Type:</lable>
                            <input type="text" placeholder="Monster, Bird, rodent, etc." name ="type">
                            <br />
                            <lable for="descripton">Description:</lable>
                            <textarea id="description" placheolder="Describe your Creature" name="description" required> </textarea>
                            <br />
                            <lable for="abilities">Abilities:</lable>
                            <textarea id="description" placheolder="what abilities does it have? is it poisonous? Venomous?" name="description" required> </textarea>
                            <br />
                            <lable for="origin">Origin/habitat:</lable>
                            <input type="text" placeholder="Where is your creature from? what habitat" name ="origin">
                            <br />
                            <lable for="world">World:</lable>
                            <input type="text" placeholder="What world(s) do your creature appear in?" name ="world">
                            <br />
                            
                            <button type="submit">Create</button> 
                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                            
                        </form>
                    </div>
                </div>
                <hr />
                <ul>
                    <li><a href="voidreacher.html">Void Reacher</a>></a></li>
                </ul>
            </div>

            
            <div class = "Author">
                <h2>Author</h2>
                <ul>Spencer Zaugg</ul>
            </div>
        </main>
        <footer>
            <hr />
            <span class="text-restet">Author Name:</span>
            <td>Spencer Zaugg</td>
            <br />
            <a href = "https://github.com/SpeedyZ500/startup.git"> GitHub</a>
        </footer>
    </body>
</html>