<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Void Walking</title>
        <link rel="icon" href = "../../favicon.ico"/>
        <style>
            .worldbuilding{
                display: block
            }
        </style>
    </head>
    <body>
        
        <header>
            <nav>
                <menue>
                    <li><a href = "../../index.html"><img alt = "Project Yggdrasil" src = "../../ProjectYggdrasil.png" width = 200/></a></li>
                    <li><a href = "../../stories.html">Stories</a></li>
                    <li><a href = "../../writingprompts.html">Writing Prompts</a></li>
                    <li><a href = "../../characters.html">Characters</a></li>
                    <li><a href = "../../worldbuilding.html">World Building</a></li>
                    <ul class="worldbuilding">
                        <li><a href = "../magicsystems.html">Magic Systems</a></li>
                        <li><a href = "../races.html">Races</a></li>
                        <li><a href = "../countries.html">Countries</a></li>
                        <li><a href = "../wildlife.html">Wildlife</a></li>
                        <li><a href = "../flora.html">Flora</a></li>
                        <li><a href = "../worlds.html">Worlds</a></li>
                        <li><a href = "../organizations.html">Organizations</a></li>

                    </ul>
                    <li><a href = "../../writingadvice.html">Writing Advice</a></li>
                    <li><a href = "../../about.html">About</a></li>
                    <li>
                        <lable for = "search" >Search:</lable>
                        <input type = "search" name = "varSearch" />
                    </li>
                    <li><a href = "../../settings.html">settings</a></li>
                    <li><a href = "../../login.html"> log-in/sign-up</a></li>
                </menue>
            </nav>
            <hr />
            <h1>Void Walking</h1>
            <p>
                The power to travel the void, and travel between worlds. 
                A dangerous ability not for the feint of heart.
                Even the most powerful of practitioners avoid using it often because of the risk of dimensional collapse.
                As you Void Walk it draws the attention of dangerous Void Entities.
            </p>
        </header>
    
        <main>
            <div class="type">
                <h2>Type:</h2>
                <ul>
                    <li>Dimensional</li>
                </ul>
            </div>
            <div class="world">
                <h2>World</h2>
                <ul>
                    <li><a href="thevoid.html">The Void</a></li>
                </ul>
            </div>
            <div class="practitioners">
                <ul>
                    <li><a href="../../templates/thecurator.html">The Curator</a></li>
                    <li><a href="../../templates/alastormoonblaze.html">Alastor Moonblaze</a></li>

                </ul>
            </div>
            <div class = "Author">
                <h2>Author</h2>
                <ul>Spencer Zaugg</ul>
            </div>
        </main>
        <footer>
            <hr />
            <span class="text-restet">Author Name:</span>
            <td>Spencer Zaugg</td>
            <br />
            <a href = "https://github.com/SpeedyZ500/startup.git"> GitHub</a>
        </footer>
    </body>
</html>