#worldbuilding{
    padding: 0 0 !important;
}
.secondary{
    padding: 0 0 !important;
    
}
.worldbuilding{
    padding-top: 50px;
    margin-top:30;
}
.theme-h .secondary{
    padding: 0 0 !important;
    margin: 0 0;

}
.navbar.secondary{
    padding-top: 0 !important;
    margin-top: 0;

}
.navbar{
    padding-bottom: 0;
    margin-bottom: 0;;
}

@media screen and (min-width: 0px) and (max-width: 1140px){
    #worldbuilding{
        display: none;
    }
     
}
