.theme{
    background:white;
    color: black;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark){
    .dropdown-item.active{
        color: white!important;
        background-color: black;
    }
    .dropdown-item{
        color: lightgrey;
    }
    .nav-item{
        color: lightgrey
    }
    .nav-item.active{
        color: white;
    }
    .theme.adaptive{
        background: black;
        color: white;
        main:a:link{color:#87a9f9;};
        main:a:visited{color: #c9a0f4};
    }
    .theme-h.adaptive{
        border-bottom: solid white thin;
        a:link{color:white;};
        a:visited{color:white;};
        background-color: black;
        
    }
    .theme-c.adaptive{
        background-color:darkgrey;
    }
    .dropdown-menu{

     background-color: black !important;
    }
    .dropdown-item{
        background-color: black !important;
    }
    .dropdown-divider{
        border-color:white !important;
       color:white !important;
    }
    .offcanvas-body{
        background-color: black !important;
    }
    .offcanvas-header{
        background-color: black !important;
    }
    .btn-close{
       filter:invert(100%);
    }
    .navbar-toggler-icon{
        filter:invert(100%);
    }
    label{
        color: white !important;
        background: black !important;
    
     }
}
.filterAndSort{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.body{
    display: flex;
    flex-direction: column;
    min-width:375px;
    min-height: 100vh;
    

}
.scrollable{
    padding-top: 0;

}
header {
    flex: 0 80px;
}
html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
header .theme{
    border-bottom: solid black thin;
}
img .navbar-brand{
    vertical-align: top;
}
.expanded{
    width: 92%;
}

footer a{
    float: right;
}
footer{
    display:flex;
    position:static;
    bottom: 0;
    margin-top: auto;
    min-width: 100vw;
    flex: 1;
    justify-content: space-between;
}
#mainNav{
    flex-direction:row;
    flex-wrap:nowrap!important;
    flex: 0 0;
    display:flex;
    justify-content: start !important;
    width: 99%;

}
main{
    min-height: 75vh;
}

.theme-h{
    background-color: white;
    border-bottom: solid black thin;
    margin-bottom: 20px;
    margin-top: 0;
}
.button-align{
    align-self: flex-start;
    margin-left: 4em;
}

menu .dropdown{
    flex: 0;
}
menu div{
    flex: 1;
    display: flex;
    flex-direction: row !important;
}
menu {
    flex: 1;
    display: flex;
    
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
    
}

.navbar-brand {
    padding-left: 0.3em;
    
    border-bottom: solid rgb(182, 182, 182) thin;

}
.offcanvas-body menu{
    flex-direction: column !important;
    justify-content: end;

}



menu .navbar-nav{
    padding-top: 0 !important;
}

menu .nav-item{
    padding: 0 .3em;
    text-wrap: nowrap;
}

menu .right{
    justify-content: end;
}


main {
    flex: 1 calc(30vh - 25px);
    display: flex;
    padding: 0;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

menu ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
#myOffcanvasNavbar{
    flex: 1;
    display: flex;
    flex-direction: column !important;
    justify-content: end !important;
    
}
nav div button {
    justify-content: end !important;
}
.navbar-header{
    padding-top: 10px;
}
.textbody{
    margin-left: 4em;
    margin-right: 4em;
    width: 80%;
    align-self: start;
}
.navbar-nav{
    .nav-item{
        border-left: solid black thin;

    }
}
.my-container{
    width: 95%;
    display: flex;
    flex: 0 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    overflow:auto;
}
.my-container.scrollable{
    height: 20em;
}
main{
    padding:0;
    margin:0;
    justify-content: top;
}
.navbar-right{
    float: right;
}
#mobile{
    .nav-item{
        border-left: none;

    }
}
#navbar-desktop{
    padding-left: 0;
    margin-left : 0;
    
}
nav{
    flex: 0;

}
.navbar-nav .dropdown-menu{
  position:absolute;
}
@media screen and (min-width: 1141px){
    #mobile{display: none;};
}
.nav-link.active{
    font-weight: bold;
}

.dropdown-item.active{
    color: black;
    background-color: white;
    font-weight: bold;
}


@media screen and (min-width: 0px) and (max-width: 1140px){
    .page-title  {
        display: none;
    }
    #navbar-desktop {
        display: none;
    };
    header h1{display: none;};
    main {
        flex: 1 100vh;
      }
    footer {
        display: none;
      }

     
}

